* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav .navbar {
  background-color: #000000 !important;
}
.navbar .container img {
  width: 180px;
  height: 80px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tudo {
  min-height: 100vh; /* garante que ocupe toda a altura da tela */
  width: 100%;
  background-image: url("https://www.ea.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBF6_BaseBG.3b6ebe76.png&w=1920&q=75");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar-nav .nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 19px;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0; /* linha embaixo do texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e73700; /* cor da linha */
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #e73700; /* muda cor do texto ao passar o mouse */
}

.navbar-nav .nav-link:hover::after {
  width: 100%; /* linha cresce da esquerda para direita */
}

.carousel-centro {
  width: 60%;
  margin: 30px auto;
}
.clinic-carousel-title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  color: #fff;
}

.clinic-carousel-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -6px;
  left: 0;
  background: #f2f2f2;
  border-radius: 2px;
}
.clinic-carousel-title::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  bottom: -6px;
  left: 0;
  background: #e73700;
  border-radius: 2px;
}
.card {
  margin-bottom: 20px !important;
}
.card .card-att {
  display: inline-block; /* Faz a largura se ajustar ao conteúdo */
  border: 1px solid #fff; /* Borda branca */
  padding: 2px 6px; /* Espaçamento interno opcional */
  border-radius: 4px; /* Opcional, borda arredondada */
  font-size: 10px;
  letter-spacing: 2px;
}

.card .card-text {
  font-size: 11px;
  letter-spacing: 1px;
}

.card .card-titulo {
  font-size: 25px;
}

.custom-popover {
  --bs-popover-max-width: 300px;
  --bs-popover-border-color: #e73700;
  --bs-popover-header-bg: #e73700;
  --bs-popover-header-color: #fff;
  --bs-popover-body-color: #fff;
  --bs-popover-bg: #1d1e20;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.75rem;
  font-size: 14px;
}

.card .botao-att {
  background-color: #e73700;
  color: #fff;
}
.card .botao-att:hover {
  background-color: #ffffff;
  color: #e73700;
}

.border {
  background-color: #2f383e;
}

.border .ler {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.border .ler:hover {
  background-color: #fff;
  transition: 1s ease-in-out;
}

.img-post {
  width: 40%;

  display: block;
  margin: 50px auto 20px; /* centraliza horizontalmente */
  border-radius: 20px;
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 100%);
  mask-image: linear-gradient(to top, transparent 10%, black 100%);
}
.container .titulo-post {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  color: #e73700;
}

.conteudo-post {
  margin: 20px auto;
  font-size: 18px;
  color: #ffffff;
}
